{% extends "base.html" %}
{% load blog_extras %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <script>
                    alert("{{ message }}")
                </script>
            {% endfor %}
        </ul>
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand pl-2">Shareio <i class="fa fa-arrow-up-from-bracket"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline flex-fill  p-3 m-1" method="get" action="/search/">
                <div class="input-group w-100">
                    <input type="Enter a Keyword" class="form-control" placeholder="search" aria-label="search bar"
                           name="keyword" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-pink" type="submit" id="button-addon2">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item p-3 m-1">
                    <a class="nav-link" href="/user/"><i class="fa fa-user"></i> Your Profile</a>
                </li>
                <li class="nav-item p-3 m-1">
                    <a class="nav-link" href="/new_blog/"><i class="fa fa-pencil"></i> New Blog</a>
                </li>
                <li class="nav-item p-3 m-1">
                    <a class="nav-link" href="/user/signout/"><i class="fa fa-power-off"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container my-5">
        {% for blog in blogs %}
            {#            <div class="blog-design">#}
            <div class="blog-design mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="card-img" src="{{ blog.image }}" alt="image_unavailable">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.short|convert_markdown|safe }}</p>
                            <p><a href="/read_blog/{{ blog.id }}" class="pink-color-link text-underline">
                                <u>Read more</u></a></p>
                            <form action="{% url 'home:like-post-view' %}" method="POST" class='like-form' id='{{ blog.id }}'>
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value={{ blog.id }}>
                                <button type="submit" class="ui button like-btn{{ blog.id }} btn btn-pink">
                                    {% if user not in blog.likes.all %}
                                        Like
                                    {% else %}
                                        Unlike
                                    {% endif %}
                                </button>
                                <div class="like-count{{ blog.id }} d-inline"> {{ blog.total_likes }} </div>
                                likes
                            </form>
                            <br>
                            <hr>
                            <p class="card-text"><small class="text-muted">Created by {{ blog.name }} on
                                {{ blog.date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}